body {
    font-size: 16px;
    background-color: #fafafa;
}

/*----------------Top of Page Button-------------------*/


#homeBtn {
    position: fixed;
    bottom: 15px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #00000096;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 8px;
    z-index: 100;
    transition-property: width, height, background-color;
    transition-duration:  .1s;
    transition-timing-function: ease-in-out;
    
}

#homeBtn:hover {
    background-color: #000000;
    height: 52px;
    width: 52px;
    font-size: 32px;
}



/*----------------Nav-------------------*/

img.logo-pic {
    height: 50px;
    width: 50px;
    position: relative;
    margin-top: 0;
    padding-top: 0;
    margin-left: 3px;
    padding-bottom: 3px;
}

.navbar-brand {
    margin-top: 0;
    padding-top: 5px;

}

.navbar-inverse {
    margin-bottom: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}

nav.navbar.navbar-inverse {
    width: 100vw;
    border-radius: 0;
    background-color: #0c0c0c;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    margin-right: 10px;
    width: 100px;
    background-color: #ed2027;
    border-color: #ed2027;
    color: white;
    font-weight: bold;
    padding: 7px;
}

.navbar-btn:hover,
.navbar-btn:active,
.navbar-btn:focus {
    color: white;
    background-color: #ed2027;
    border-color: #ed2027;
}

.navbar-nav li {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 12px;
    left: 15px;
}



/*----------------Header-------------------*/

/*.header-logo {*/
/*    height: 75vh;*/
/*    width: 100vw;*/
/*    background: url("images/rollingstonesheader.png") no-repeat center center fixed; */
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: cover;*/
/*    position: relative;*/
/*}*/

.header-logo {
    margin-left: 0;
    padding: 0;
}

.header-pic {
    width: 100vw;
    height: 70vh;
    padding: 0;
    position: relative;
    display: block;


}


/*----------------Sections-------------------*/



/*----------------Home-Page Section-------------------*/

.home-page {
    height: 600px;
}

.carousel-header {
    background-color: black;
    width: 100vw;
    margin-bottom: 15px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

img.rs-heading-logo {
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.audio-wrapper {
    margin-bottom: 10px;
    text-align: center;
}

.audio-wrapper h3 {
    font-size: 1.1em;
}

.audio-pictures {
    margin-bottom: 8px;
}
    
/*.home-heading {*/
    
/*    font-weight: bold;*/
/*    padding-bottom: 10px;*/
/*}*/


/*----------------Band Section-------------------*/



/*.band-members {*/
/*    height: 600px;*/

/*}*/


.media-left {
    padding-bottom: 30px;
}

.media-body {
    padding-bottom: 30px;
}

.media-object {
    height: 300px;
    width: 300px;
}

.bio {
    font-size: 1em;
}


/*----------------Music Section-------------------*/


h1.albums {
    padding-top: 0;
}

h1.text-center {
    font-weight: bolder;
}

.music-intro-column {
    margin-top: 10px;
}

.music-intro {
    padding-bottom: 5px;
    padding-top: 12px;
}


p.music-intro {
    font-size: 1.5em;
    font-weight: bolder;
}

.media-object-album {
    height: 250px;
    width: 250px;
}

img.media-object-album {
    border-radius: 6px;
}

.album-headings {
    font-size: 1em;
    font-weight: bold;
}

.album-description {
    font-size: 0.9em;
    padding-left: 10px;
}

.media {
    padding-bottom: 10px;
    padding-top: 10px;
}

div.page-header {
    text-align: center;
}

button.btn.btn-primary {
    background-color: #ed2027;
    border-color: #ed2027;
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    border-radius: 6px;
    padding: 5px 20px;
}

button.btn.btn-primary:hover,
button.btn.btn-primary:active,
button.btn.btn-primary:focus {
    color: #fafafa;
    background-color: #ff0009;
    border-color: #ff0009;
}


.embed-responsive {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.video-wrapper {
    margin-top: 10px;
    font-style: italic;
    color: #bd9a9ab5;
    text-decoration: underline;
}

.glyphicon-chevron-down {
    top: 0.18em;
    padding-left: 10px;
    padding-right: 0px;
}


/*----------------Bookings Section-------------------*/

/*.bookings {*/
/*    height: 600px;*/
/*}*/


form {
    padding: 15px 25px;
    border: 2px solid #bec3c147;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #eae8e814;
}

.form-group [type="textarea"] {
    height: 200px;
}

button.btn.btn-success {
    background-color: #ffdc00;
    border-color: #ffdc00;
    color: #000;
    font-weight: bold;
    font-size: 1em;
}

button.btn.btn-success:hover,
button.btn.btn-success:active,
button.btn.btn-success:focus {
    background-color: #ffdc00;
    border-color: #ffdc00;
    color: #000;
}

.help-block {
    font-size: .6em;
}

.booking-pic {
    background: url("images/band1.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 510px;
    min-height: 200px;
    min-width: 300px;
    float: right;
}

div.col-xs-12.col-md-offset-1.col-md-6.booking-pic {
    border-radius: 6px;
}

div.col-xs-12.col-sm-5.col-md-5.jumbotron {
    background-color: #bec3c147;
}

i.fa.fa-phone-square {
    color: #07bd07;
    font-size: 1.2em;
    padding-right: 3px;
    padding-top: 3px;
}



/*----------------Footer-------------------*/

.footer-logo {
    display: block;
    /*position: absolute;*/
    left: 0;
    bottom: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.footer-pic {
    height: 37.5vh;
    width: 100vw;
    position: absolute;
    left: 0;
}

div.row.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    padding-left: 0;
}

.social-links {
    position: relative;
    
}

div.col-xs-12.social-structure {
    padding-left: 0;
    padding-top: 10px;
    text-align: center;
    background-color: #ed2027;
    height: 65px;
    width: 100vw;
}

.social-links li a i {
    width: 45px;
    height: 45px;
    padding: 19px 0;
    border-radius: 50%;
    font-size: 22px;
    left: 0;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #868686;
    border: 1px solid black;
    transition: transform;
    transition-duration: 0.6s;
}

.social-links li a i:hover {
    transform: rotate(360deg);
}

i.fa.fa-facebook {
    background-color: #48649f;
}

i.fa.fa-twitter {
    background-color: #1da1f2;
}

i.fa.fa-youtube {
    background-color: #ff0000;
}


/*----------------Modal-------------------*/


.modal-title {
    font-weight: bolder;
    text-align: center;
}



/*----------------Media Queries-------------------*/

@media (max-width: 1300px) {
    .header-pic {
        height: 45vh;
    }
    
     .footer-pic {
        height: 32.5vh;
    }
    
    .media-object-album {
        height: 150px;
        width: 150px;
    }
    
    img.rs-heading-logo {
        height: 250px;
        width: 250px;
}
    
}

@media (max-width: 993px) {
    .header-pic {
        height: 40vh;
    }
    
    .footer-pic {
        height: 27.5vh;
    }
    
    .media-object {
        height: 175px;
        width: 175px;
    }
    
    img.rs-heading-logo {
        height: 250px;
        width: 250px;
}
    
}

@media (max-width: 769px) {
    .header-pic {
        height: 30vh;
    }
    
    .footer-pic {
        height: 25vh;
    }
    
    .media-object {
        height: 125px;
        width: 125px;
    }

    .booking-pic {
        margin: auto 0;
    }
    
    img.rs-heading-logo {
    height: 225px;
    width: 225px;
}
}

@media (max-width: 420px) {
    .header-pic {
        height: 22.5vh;
    }
    
    .footer-pic {
        height: 17.5vh;
    }
    
    .media-object {
        height: 75px;
        width: 75px;
    }
    
    .booking-pic {
        height: 250px;
    }
    
    img.rs-heading-logo {
        height: 175px;
        width: 175px;
}
}
