/*----------------Fonts-------------------*/


@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

/*----------------Body-------------------*/


body {
    font-size: 16px;
    background-color: #fff;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    font-size: 2.8em;
    
}

/*----------------Top of Page Button-------------------*/


#homeBtn {
    position: fixed;
    display: none;
    bottom: 15px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0.5;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-right: 31.5px;
    z-index: 100;
    transition-property: width, height, background-color;
    transition-duration:  .1s;
    transition-timing-function: ease-in-out;
    
}

#homeBtn span {
    position: absolute;

}

#homeBtn:hover {
    background-color: #000000;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff8f8, 0 0 20px #fff8f8, 0 0 25px #fff8f8;
    opacity: 0.8;
    height: 52px;
    width: 52px;
    font-size: 32px;
}

.glyphicon.glyphicon-menu-up {
    padding-top: 9px;
}


/*----------------Nav-------------------*/

img.logo-pic {
    height: 50px;
    width: 50px;
    position: relative;
    margin-top: 0;
    padding-top: 0;
    margin-left: 3px;
    padding-bottom: 5px;
}

.navbar-brand {
    margin-top: 0;
    padding-top: 5px;

}

.navbar-inverse {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav.navbar.navbar-inverse {
    width: 100vw;
    border-radius: 0;
    background-color: #0c0c0c;
}

.navbar-inverse .navbar-nav>li>a.hvr-grow {
    display: -webkit-box;
}

li.active a.hvr-grow {
    text-shadow: 
    0px 18px 30px rgba(255, 255, 255, 1), 
    -18px 0px 30px rgba(255, 255, 255, 1), 
    0px -18px 30px rgba(255, 255, 255, 1), 
    18px 0px 30px rgba(255, 255, 255, 1), 
    15px -16px 30px rgba(255, 255, 255, 1), 
    15px 16px 30px rgba(255, 255, 255, 1), 
    -15px 16px 30px rgba(255, 255, 255, 1), 
    -15px -16px 30px rgba(255, 255, 255, 1);
    background-color: #0c0c0c;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #0c0c0c;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    margin-right: 10px;
    width: 100px;
    background-color: #ed2027;
    border-color: #ed2027;
    color: white;
    font-weight: bold;
    padding: 7px;
}

.navbar-btn:hover,
.navbar-btn:active,
.navbar-btn:focus {
    color: white;
    background-color: #ed2027;
    border-color: #ed2027;
}

.navbar-nav li {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 12px;
    left: 15px;
}



/*----------------Header-------------------*/

.header-logo {
    margin-left: 0;
    padding: 0;
}

.header-pic {
    width: 100vw;
    height: 70vh;
    padding: 0;
    position: relative;
    display: block;
}


/*----------------Sections-------------------*/



/*----------------Home-Page Section-------------------*/

.home-page {
    height: 600px;
}

.carousel {
    margin-bottom: 40px;
    width: 100vw;
}

.carousel-header {
    background-color: black;
    width: 100vw;
    margin-bottom: 15px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.carousel-inner img {
  width: 100vw;
  margin: auto;
  max-height: 600px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: white;
}

img.rs-heading-logo {
    height: 300px;
    width: 300px;
    margin-top: 0;
    margin-bottom: 25px;
}

.website-welcome {
    padding-bottom: 5px;
    padding-top: 12px;
    margin-top: 14px;
}

p.website-welcome {
    font-size: 1.5em;
    font-weight: bolder;
}

span#text,
span#word,
span#info,
span#moreinfo,
span#letters,
span#album {
    display: none;
}

.button-center {
    text-align: center;
    padding-top: 5px;
    
}

button#toggle.btn.btn-info,
button#switch.btn.btn-info,
button#change.btn.btn-info,
button#touch.btn.btn-info,
button#press.btn.btn-info {
    font-size: 1.1em;
    font-weight: bold;
    background-color: #ed2027;
    border-color: #ed2027;
    border-radius: 12px;
    /*box-shadow: 0 3px 20px 0 #0000003b;*/
}

button#toggle.btn.btn-info:hover,
button#toggle.btn.btn-info:active,
button#toggle.btn.btn-info:focus,
button#switch.btn.btn-info:hover,
button#switch.btn.btn-info:active,
button#switch.btn.btn-info:focus,
button#change.btn.btn-info:hover,
button#change.btn.btn-info:active,
button#change.btn.btn-info:focus,
button#touch.btn.btn-info:hover,
button#touch.btn.btn-info:active,
button#touch.btn.btn-info:focus,
button#press.btn.btn-info:hover,
button#press.btn.btn-info:active,
button#press.btn.btn-info:focus {
    color: #fafafa;
    background-color: #ff0009;
    border-color: #ff0009;
    box-shadow: 0 3px 20px 0 #0000003b;
}


.homepage-container {
    width: 100vw;
}

.homepage-picture-one {
    height: 100vh;
    background: url("images/homepage3.jpg") no-repeat center top; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
    

.about-band,
.sample-songs {
    margin-top: 15px;
}


.audio-wrapper {
    margin-bottom: 10px;
    text-align: center;
}

.audio-wrapper h3 {
    font-size: 1.1em;
}

.audio-pictures {
    margin-bottom: 8px;
}
    
.homepage-picture-two {
    height: 100vh;
    background: url("images/homepage2.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

/*----------------Band Section-------------------*/



.media-left {
    padding-bottom: 30px;
}

.media-body {
    padding-bottom: 30px;
}

.media-object {
    height: 300px;
    width: 300px;
}

.bio {
    font-size: 1em;
}



/*----------------Music Section-------------------*/


h1.albums {
    padding-top: 0;
}

h1.text-center {
    font-weight: bolder;
}

.music-intro-column {
    margin-top: 10px;
}

.music-intro {
    padding-bottom: 5px;
    padding-top: 12px;
}


p.music-intro {
    font-size: 1.5em;
    font-weight: bolder;
}

hr.style {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.album-info {
    margin-top: 30px;
}

.media.jagger-section {
    margin-top: 20px;
}

img.media-object-info {
    border-radius: 6px;
    height: 400px;
    width: 450px;

}

.media-text-fix {
    height: 400px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.media-object-album {
    height: 250px;
    width: 250px;
}

img.media-object-album {
    border-radius: 6px;
}

.album-headings {
    font-size: 1em;
    font-weight: bold;
}

.album-description {
    font-size: 0.9em;
    padding-left: 10px;
}

.media {
    padding-bottom: 10px;
    padding-top: 10px;
}

div.page-header {
    text-align: center;
    margin-top: 30px;
}

button#push.btn.btn-info {
    font-size: 1.7em;
    font-weight: bolder;
    background-color: #ed2027;
    border-color: #ed2027;
    border-radius: 12px;
    box-shadow: 0 3px 20px 0 #0000003b;
    margin-bottom: 15px;
}


.embed-responsive {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.video-wrapper {
    margin-top: 10px;
    font-style: italic;
    color: #000;
    opacity: 0.5;
    text-decoration: underline;
}

.glyphicon-chevron-down {
    top: 0.18em;
    padding-left: 10px;
    padding-right: 0px;
}


/*----------------Bookings Section-------------------*/

/*.bookings {*/
/*    height: 600px;*/
/*}*/


form {
    padding: 15px 25px;
    border: 2px solid #bec3c147;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #eae8e814;
}



/*.form-group [type="textarea"] {*/
/*    height: 200px;*/
/*}*/

button.btn.btn-success {
    background-color: #ffdc00;
    border-color: #ffdc00;
    color: #000;
    font-weight: bold;
    font-size: 1em;
}

button.btn.btn-success:hover,
button.btn.btn-success:active,
button.btn.btn-success:focus {
    background-color: #ffdc00;
    border-color: #ffdc00;
    color: #000;
}

.help-block {
    font-size: .6em;
}

.booking-pic {
    background: url("images/band1.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 510px;
    min-height: 200px;
    min-width: 300px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.col-xs-12.col-md-offset-1.col-md-6.booking-pic {
    border-radius: 6px;
}

div.col-xs-12.col-md-5.jumbotron {
    background-color: #bec3c147;
    margin-top: 10px;
}

h2.contact-us {
    margin-top: 30px;
    text-align: center;
}

i.fa.fa-phone-square {
    color: #07bd07;
    font-size: 1.2em;
    padding-right: 3px;
    padding-top: 3px;
}



/*----------------Footer-------------------*/

.footer-logo {
    display: block;
    /*position: absolute;*/
    left: 0;
    bottom: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.footer-pic {
    height: 37.5vh;
    width: 100vw;
    position: absolute;
    left: 0;
}

div.row.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    padding-left: 0;
}

.social-links {
    position: relative;
    
}

div.col-xs-12.social-structure {
    padding-left: 0;
    padding-top: 10px;
    text-align: center;
    background-color: #ed2027;
    height: 65px;
    width: 100vw;
}

.social-links li a i {
    width: 45px;
    height: 45px;
    padding: 19px 0;
    border-radius: 50%;
    font-size: 22px;
    left: 0;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #868686;
    border: 1px solid black;
    transition: transform;
    transition-duration: 0.6s;
}

.social-links li a i:hover {
    transform: rotate(360deg);
}

i.fa.fa-facebook {
    background-color: #48649f;
}

i.fa.fa-twitter {
    background-color: #1da1f2;
}

i.fa.fa-youtube {
    background-color: #ff0000;
}


/*----------------Sign Up Modal-------------------*/


.modal-title {
    font-weight: bolder;
    text-align: center;
}

.modal-content {
    margin-top: 30px
}


/*----------------Picture Modal One-------------------*/


/* Style the Image Used to Trigger the Modal */
#jaggerImg, 
#richardsImg,
#wattsImg,
#woodImg {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

#jaggerImg:hover,
#richardsImg:hover,
#wattsImg:hover,
#woodImg:hover {
    opacity: 0.7;
    
}

/* The Modal (background) */
.modal-band {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-info,
.modal-two,
.modal-three,
.modal-four {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
    height: 500px;
    margin-top: -40px;
    border-radius: 12px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption,
#captionKR,
#captionCW,
#captionRW {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-info,
.modal-two,
.modal-three,
.modal-four,
#caption,
#captionKR,
#captionCW,
#captionRW { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close-band,
.close-two,
.close-three,
.close-four {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-band:hover,
.close-band:focus,
.close-two:hover,
.close-two:focus,
.close-three:hover,
.close-three:focus,
.close-four:hover,
.close-four:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-info,
    .modal-two,
    .modal-three,
    .modal-four {
        width: 100%;
    }
}




/*----------------Media Queries-------------------*/

@media (max-width: 1300px) {
    .header-pic {
        height: 45vh;
    }
    
     .footer-pic {
        height: 32.5vh;
    }
    
    .media-object-album {
        height: 150px;
        width: 150px;
    }
    
    img.rs-heading-logo {
        height: 250px;
        width: 250px;
    }
    
    .carousel-inner img {
        max-height: 500px;
    }
    
}

@media (max-width: 993px) {
    .header-pic {
        height: 40vh;
    }
    
    .footer-pic {
        height: 27.5vh;
    }
    
    .media-object {
        height: 175px;
        width: 175px;
    }
    
    img.rs-heading-logo {
        height: 250px;
        width: 250px;
    }
    
    img.media-object-info {
        height: 350px;
        width: 400px;
    }
    
    .media-text-fix {
        padding-right: 5px;
    }
    
    .carousel-inner img {
        max-height: 500px;
    }
    
    #jaggerImg,
    #richardsImg,
    #wattsImg,
    #woodImg {
        height: 175px;
        width: 175px;
    }
    
}

@media (max-width: 769px) {
    .header-pic {
        height: 30vh;
    }
    
    .footer-pic {
        height: 25vh;
    }
    
    .media-object {
        height: 125px;
        width: 125px;
    }

    .booking-pic {
        margin: auto 0;
    }
    
    img.rs-heading-logo {
        height: 225px;
        width: 225px;
    }
    
    img.media-object-info {
        height: 325px;
        width: 375px;
    }
    
    .media-text-fix {
        padding-right: 5px;
    }
    
    div.page-header {
        margin-top: 0px;
    }
    
    .carousel-inner img {
        max-height: 400px;
    }
    
    #jaggerImg,
    #richardsImg,
    #wattsImg,
    #woodImg {
        height: 200px;
        width: 200px;
    }
    
}

@media (max-width: 420px) {
    .header-pic {
        height: 22.5vh;
    }
    
    .footer-pic {
        height: 17.5vh;
    }
    
    .band-paragraph {
        text-align: center;
    }
    
    .media-object {
        height: 75px;
        width: 75px;
    }
    
    .booking-pic {
        height: 250px;
    }
    
    img.rs-heading-logo {
        height: 175px;
        width: 175px;
    }
    
    img.media-object-info {
        height: 250px;
        width: 300px;
    }
    
    .media-text-fix {
        text-align: center;
        height: 320px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 60px;
    }
    
    div.page-header {
        margin-top: 20px;
    }
    
    .album-headings {
        margin-top: 0;
    }
    
    .carousel-inner img {
        min-height: 225px;
    }
    
    #jaggerImg,
    #richardsImg,
    #wattsImg,
    #woodImg {
        height: 200px;
        width: 200px;
    }
    
    .modal-info,
    .modal-two,
    .modal-three,
    .modal-four {
        max-width: 350px;
        height: 350px;
        margin-top: 30px;
        border-radius: 12px;
    }
    
    li.active a.hvr-grow {
    text-shadow: 
        0px 5px 30px rgba(255, 255, 255, 1), 
        5px 0px 30px rgba(255, 255, 255, 1), 
        0px -5px 30px rgba(255, 255, 255, 1), 
        0px 5px 30px rgba(255, 255, 255, 1), 
        10px -10px 30px rgba(255, 255, 255, 1), 
        10px 10px 30px rgba(255, 255, 255, 1), 
        -10px 10px 30px rgba(255, 255, 255, 1), 
        -10px -10px 30px rgba(255, 255, 255, 1);
}
}

/*----------------Media Queries Band Section-------------------*/

@media (max-width: 420px) {
    img#jaggerImg,
    img#richardsImg,
    img#wattsImg,
    img#woodImg {
        margin: auto;
    }
    
    .band{
        display: block;
        padding-bottom: 0;
    }
    
    .media-body.summary {
        text-align: center;
    }
    
    blockquote.bio.hide-mobile {
        border-left: none;
    }
}




